body {
  width: 100vw;
  height: auto;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  color: white;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #2b3a47;
}

::-webkit-scrollbar-thumb {
  background-color: #5a6980;
  border-radius: 10px;
  border: 2px solid #2b3a47;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #748ba9;
}

::-webkit-scrollbar-thumb:active {
  background-color: #8ea2c0;
}
