.chat-icon-container {
  position: fixed;
  bottom: 35px;
  right: 35px;
  z-index: 1000;
}

.chat-icon {
}
.chat-icon img {
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: 0.5s;
}

.chat-icon img:hover {
  transform: scale(1.1);
}
