<div class="auth-container">
  <div class="auth-form">
    <h2>Login</h2>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
      <input type="email" id="email" name="email" placeholder="Email" ngModel required>
      <input type="password" id="password" name="password" placeholder="Password" ngModel required>
      <button type="submit" [disabled]="!loginForm.valid">Login</button>
    </form>
    <div id="g_id_onload"
         data-client_id="178328488763-s1da94rqu9393kiuql32fke391p20due.apps.googleusercontent.com"
         data-context="signin"
         data-login_uri="http://localhost:8080/api/v1/auth/oauth2/google"
         data-itp_support="true">
    </div>
    <div id="g_id_signin" class="g_id_signin" data-type="standard"></div>
    <p>Don't have an account? <a routerLink="/register">Register</a></p>
  </div>
</div>
