<div class="auth-container">
  <div class="auth-form">
    <h2>Login</h2>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
      <input type="email" id="email" name="email" placeholder="Email" ngModel required>
      <input type="password" id="password" name="password" placeholder="Password" ngModel required>
      <button type="submit" [disabled]="!loginForm.valid">Login</button>
    </form>
    <div>
      <div id="g_id_signin" class="g_id_signin" data-type="standard"></div>
    </div>
    <p>Don't have an account? <a routerLink="/register"><b>Register</b></a></p>
  </div>
</div>
