.app-header {
  width: 100%;
  height: 10vh;
  background-color: #1B2B38;
  color: #ECF0F1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  box-sizing: border-box;
  border-bottom: 1px solid #0056b3;
}

.header-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1200px;
  justify-content: space-between;
  align-items: center;
}

.header-content h1 {
  margin: 0;
  font-size: 1.5rem;
}

.nav {
  display: flex;
  gap: 1rem;
}

.nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
}

.nav a:hover {
  text-decoration: none;
  cursor: pointer;
  color: #721c24;
}
